* {
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

body {
  --fonts: Roboto, sans-serif;
  --primary-color: rgb(21, 145, 254);
  --primary-darker-color: rgb(21, 130, 254);
  margin: 0;
  font-size: 16px;
  font-family: var(--fonts);
}

.app-header {
  --bg-color: #263238;
  --h1-color: #FDFDFD;
  --font-color: #B4C2C9;
  --border-color: #37474F;
  --side-margin: 100px;
  display: flex;
  flex-direction: column;
  height: 220px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.app-header__nav-container {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.nav-container__nav {
  margin: 0 var(--side-margin);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  padding: 25px 50px;
  text-decoration: none;
  color: var(--font-color);
  border-left: 1px solid var(--border-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link:last-child {
  border-right: 1px solid var(--border-color);
}

.nav__link--active {
  color: #fff;
}

.app-header__title-container {
  height: 100%;
  margin-left: var(--side-margin);
  display: flex;
  align-items: flex-end;
}

.title-container__title {
  color: var(--h1-color);
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #454545;
}

.main__content {
  flex: 5;
  margin: 0 15px;
}

.main__links {
  padding: 0 45px;
  font-size: 1.1rem;
  color: #454545;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list--less-padding .list__item {
  padding: 10px 30px;
}

.list__item {
  padding: 15px 30px;
}

.content__progress-buttons {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 15px 25px;
}

.button {
  outline: none;
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  font-family: var(--fonts);
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.button--primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button--primary:active {
  background-color: var(--primary-darker-color);
}

.button--inverted {
  background-color: #fff;
  color: var(--primary-color);
}

.button--inverted:active {
  color: #fff;
  background-color: var(--primary-color);
}

.main__content p {
  line-height: 2rem;
}

